<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Nueva Tarea</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-input label="Título" labelPlacement="floating" placeholder="Nombre de la tarea"></ion-input>
    </ion-item>

    <ion-item>
      <ion-textarea label="Descripción" labelPlacement="floating" placeholder="Detalles de la tarea..."></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label>Fecha límite</ion-label>
      <ion-datetime-button datetime="datetime"></ion-datetime-button>
      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime id="datetime" presentation="date"></ion-datetime>
        </ng-template>
      </ion-modal>
    </ion-item>

    <ion-item>
      <ion-select label="Prioridad" placeholder="Seleccionar">
        <ion-select-option value="high">Alta</ion-select-option>
        <ion-select-option value="medium">Media</ion-select-option>
        <ion-select-option value="low">Baja</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-button expand="block" class="ion-margin-top">
    Guardar Tarea
  </ion-button>
</ion-content>